.venv/
.env
.streamlit/secrets.toml
__pycache__/
*.pyc
.ipynb_checkpoints/
artifacts/
mlflow.db
mlruns/
results/*
!results/.gitkeep
models/
!src/models/
!src/models/*.py
.dvc/cache/
.dvc/tmp/
data/torchvision/
